@inherits LayoutComponentBase

<main class="container-fluid w-100">        
    <div class="top-row px-4">
        <span class="mr-auto">SuperSimpleBlazorDropzone</span>
        <a href="https://github.com/NikPiermafrost/SuperSimpleBlazorDropzone" target="_blank">Github</a>
    </div>

    <article class="content px-4">
        @Body
    </article>
</main>
