@inherits LayoutComponentBase

<main class="w-100">        
    <div class="top-row mb-4">
        <span class="mr-auto">SuperSimpleBlazorDropzone</span>
        <a href="https://github.com/NikPiermafrost/SuperSimpleBlazorDropzone" target="_blank">Github</a>
    </div>

    <article class="container-fluid">
        @Body
    </article>
</main>
