@using Microsoft.JSInterop
@using SuperSimpleBlazorDropzone.Models
@using Microsoft.AspNetCore.Components.Forms
@using SuperSimpleBlazorDropzone.Extensions

@inject IJSRuntime JS
@implements IAsyncDisposable

<div id=@DropperId class=@CssClass @ondragover=@OnDragOver @ondragleave=@OnDragLeave @ondragover:preventDefault
    @ondragleave:preventDefault @ondrop:preventDefault @onclick=@ForwardFileInputClick tabindex="0">
    @ChildContent
    <InputFile id=@_fileInputId style="display:none" OnChange=@OnInputFileChange multiple=@AllowMultipleFiles />
</div>

@code {
    [Parameter] public string CssClass { get; set; } = "file-dropper";
    [Parameter] public string DragActiveCssClass { get; set; } = "drag-active";
    [Parameter] public FileContentOutput ContentOutputType { get; set; } = FileContentOutput.Base64;
    [Parameter] public string DropperId { get; set; } = Guid.NewGuid().ToString();
    [Parameter] public RenderFragment? ChildContent { get; set; } = DefaultDropContent;
    [Parameter] public EventCallback<IEnumerable<Base64FileTransfer>> OnBase64FilesReceived { get; set; }
    [Parameter] public EventCallback<IEnumerable<BinaryFileTransfer>> OnBinaryFilesReceived { get; set; }
    [Parameter] public bool AllowMultipleFiles { get; set; } = false;

    private string _fileInputId = Guid.NewGuid().ToString();

    private IJSObjectReference? _module;
    private DotNetObjectReference<SimpleDropzone>? _dropzoneRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _dropzoneRef = DotNetObjectReference.Create(this);
            _module = await JS.InvokeAsync<IJSObjectReference>("import",
            "./_content/SuperSimpleBlazorDropzone/SimpleDropzone.razor.js");
            await _module.InvokeVoidAsync("registerDropHandler", _dropzoneRef, DropperId, AllowMultipleFiles);
        }
    }

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        if (!AllowMultipleFiles) 
        {
            switch (ContentOutputType)
            {
                case FileContentOutput.Base64:
                    var base64File = await e.File.RequestBase64FileTransferAsync();
                    if (OnBase64FilesReceived.HasDelegate)
                    {
                        await OnBase64FilesReceived.InvokeAsync([base64File]);
                    }
                    return;
                case FileContentOutput.Binary:
                    var binaryFile = await e.File.RequestBinaryFileTransferAsync();
                    if (OnBinaryFilesReceived.HasDelegate)
                    {
                        await OnBinaryFilesReceived.InvokeAsync([binaryFile]);
                    }
                    return;
                default:
                    throw new ArgumentOutOfRangeException();
            }
        }
        var files = e.GetMultipleFiles();
        switch (ContentOutputType)
        {
            case FileContentOutput.Base64:
                var base64Files = new List<Base64FileTransfer>();
                foreach (var file in files)
                {
                    var base64File = await file.RequestBase64FileTransferAsync();
                    base64Files.Add(base64File);
                }
                await OnBase64FilesReceived.InvokeAsync(base64Files);
                return;
            case FileContentOutput.Binary:
                var binaryFiles = new List<BinaryFileTransfer>();
                foreach (var file in files)
                {
                    var binaryFile = await file.RequestBinaryFileTransferAsync();
                    binaryFiles.Add(binaryFile);
                }
                await OnBinaryFilesReceived.InvokeAsync(binaryFiles);
                return;
            default:
                throw new ArgumentOutOfRangeException();
        }
    }

    private async Task OnDragOver(DragEventArgs e)
    {
        await _module!.InvokeVoidAsync("setDragActive", DropperId, true, DragActiveCssClass);
    }

    private async Task OnDragLeave(DragEventArgs e)
    {
        await _module!.InvokeVoidAsync("setDragActive", DropperId, false, DragActiveCssClass);
    }

    private async Task ForwardFileInputClick()
    {
        await _module!.InvokeVoidAsync("clickHiddenFileInput", _fileInputId);
    }

    [JSInvokable]
    public async Task ReceiveBinaryData(BinaryFileTransfer[] files)
    {
        switch (ContentOutputType)
        {
            case FileContentOutput.Base64:
                var convertedFiles = files.Select(f => new Base64FileTransfer
                {
                    Name = f.Name,
                    Extension = f.Extension,
                    Type = f.Type,
                    Size = f.Size,
                    Content = Convert.ToBase64String(f.Content)
                }).ToArray();
                await OnBase64FilesReceived.InvokeAsync(convertedFiles);
                break;
            case FileContentOutput.Binary:
                await OnBinaryFilesReceived.InvokeAsync(files);
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }
        await _module!.InvokeVoidAsync("setDragActive", DropperId, false, DragActiveCssClass);
    }

    private static RenderFragment DefaultDropContent => builder =>
    {
        builder.OpenElement(0, "span");
        builder.AddContent(1, "Drop a file here or click to select");
        builder.CloseElement();
    };

    public async ValueTask DisposeAsync()
    {
        GC.SuppressFinalize(this);
        try
        {
            if (_module != null)
            {
                await _module.InvokeVoidAsync("removeEventListeners", _dropzoneRef, DropperId, AllowMultipleFiles);
            }
        }
        finally
        {
            if (_module != null)
            {
                await _module.DisposeAsync();
            }
            _dropzoneRef?.Dispose();
        }
    }
}